<h1><%= @document.description %></h1>

<div id='search-options-div'>
  <h2>
    Search Option
  <h2>

  <%= form_tag(document_search_path(@document.id), :method => "get") do %>
  <table>
    <tr>
      <td>
        <%= label_tag(:sex, "1) Sex") %>
      </td>
      <td>
        <%= select_tag(:sex, options_for_select([["Male", "Boy"], ["Female", "Girl"]])) %>
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag(:age, "2) Age") %>
      </td>
      <td>
        <%= select_tag(:age, options_for_select([["0-5", "0-5"], ["6-10", "6-10"], ["11-15", "11-15"], ["16-20", "16-20"]])) %>
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag(:outcome, "3) Status") %>
      </td>
      <td>
        <%= select_tag(:outcome, options_for_select([["Removed", "Removed"], ["Absconded", "Absconded"], ["Died", "Died"]])) %>
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag(:nation, "4) Nation") %>
      </td>
      <td>
        <%= select_tag(:nation, options_for_select([["Mandingo", "Mandingo"], ["Temrie", "Temrie"], ["etc.", "etc."]])) %>
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag(:purpose_brought, "5) Reason for being in Freetown") %>
      </td>
      <td>
        <%= select_tag(:purpose_brought, options_for_select([["school", "school"], ["work", "work"], ["etc", "etc"]])) %>
      </td>
    </tr>

  </table>

    <p>
      <%= submit_tag("Search") %>
  <% end %>

</div>
 
<div class='scroll-pane'>
  <h2>
    Results
  </h2>

  <table id='results-table'>
  	<tr class='headings-row'>
  		
      <th>
        Page #
      </th>
      <th>
        Date
      </th>
      <th>
        Number of Certificate
      </th>
      <th>
        Every Name of Alien Child
      </th>
      <th>
        Age
      </th>
      <th>
        Sex
      </th>
      <th>
        Nation
      </th>
      <th>
        Any Particular Marks
      </th>
      <th>
        With Whom Residing
      </th>
      <th>
        Name and Residence of Parents
      </th>
      <th>
        Name and Residence of Persons Bringing such Child
      </th>
      <th>
        For what Purpose Brought
      </th>
      <th>
        Signature of Parties
      </th>
      <th>
        School
      </th>
      <th>
        "Removal, Departure, or Death"
      </th>
      <th>
        Extra Comments
      </th>

  	</tr>


		<% for row in @rows %>
      <tr>
        <td>
          <%= row.page %>
        </td>

        <td>
          <%= row.date %>
        </td>

        <td>
          <%= row.certificate %>
        </td>
        <td>
          <%= row.child_name %>
        </td>
        <td>
          <%= row.display_age %>
        </td>
        <td>
          <%= row.sex %>
        </td>
        <td>
          <%= row.display_nation %>
        </td>
        <td>
          <%= row.marks %>
        </td>
        <td>
          <%= row.residing_with_name %>
        </td>
        <td>
          <%= row.bringer_name_res %>
        </td>
        <td>
          <%= row.purpose_brought %>
        </td>
        <td>
          <%= row.signatures %>
        </td>
        <td>
          <%= row.school %>
        </td>
        <td>
          <%= row.outcome %>
        </td>
        <td>
          <%= row.comments %>
        </td>

      </tr>
    <% end %>

  </table>
</div>

*Built by George + Shoshawnah Lautenschlager