<h1><%= @document.description %></h1>

<div id='search-options-div'>
  <h2>
    Search Option
  </h2>
  <p>
    <%= label_tag(:sex, "1) Sex") %>
    <br>
    <%= select_tag(:sex, options_for_select([["All", "All"], ["Boy", "Boy"], ["Girl", "Girl"]]), ) %>
    <button id="add-sex-term"> Add </button>

  <p>
    <%= label_tag(:age, "2) Age") %>
    <br>
    <%= select_tag(:age, options_for_select([["All", "All"], ["0-5", "0-5"], ["6-10", "6-10"], ["11-15", "11-15"], ["16-20", "16-20"]])) %>
    <button id="add-age-term"> Add </button>
    <br>

  <p>
    <%= label_tag(:outcome, "3) Status") %>
    <br>
    <%= select_tag(:outcome, options_for_select([["All", "All"], ["Removed", "Removed"], ["No Comment Made", "No Comment Made"], ["Died", "Died"], ["Transferred", "Transferred"], ["Absconded", "Absconded"], ["Assigned New School", "Assigned New School"]])) %>
    <button id="add-outcome-term"> Add </button>

  <p>
    <%= label_tag(:nation, "4) Nation") %>
    <br>
    <%= select_tag(:nation, options_for_select([["All", "All"], ["Sarakole", "Sarakole"], ["Bullom", "Bullom"], ["Niger Delta, Igbo", "Niger Delta, Igbo"], ["Igbo", "Igbo"], ["Limba", "Limba"], ["Mende", "Mende"], ["Cossoo", "Cossoo"], ["Vai", "Vai"], ["Bassa", "Kru"], ["Liberian", "Liberian"], ["Baga", "Baga"], ["Fulbe", "Fulbe"], ["Interior of Gallinas or Gola", "Interior of Gallinas or Gola"], ["Sherbro", "Sherbro"], ["Loko", "Loko"], ["Koranko", "Koranko"], ["Susu", "Susu"], ["Mande", "Mande"], ["Temne", "Temne"]])) %>
    <button id="add-nation-term"> Add </button>

  <p>
    <%= label_tag(:reason, "5) Reason for being in Freetown") %>
    <br>
    <%= select_tag(:reason, options_for_select([["All", "All"], ["For a Visit", "For a Visit"], ["To be Educated", "To be Educated"], ["Domestic Servant", "Domestic Servant"], ["Learn a Trade", "Learn a Trade"], ["Slavery Related", "Slavery Related"], ["Blank", "Blank"]])) %>
    <button id="add-reason-term"> Add </button>

  <div>
    <%= form_tag(document_search_path(@document.id), :method => "post") do %>
      <b>Search Terms<b>

      <ul id= "search-term-list">

        <% for term in @sex_search_terms %> 
          <li> 
            <%= term.to_s %> 
            <input hidden="true" name="sex[]" value=<%= "#{term}" %>>
          </li>
        <% end %>

        <% for term in @age_search_terms %>
          <li> 
            <%= term.to_s %> 
            <input hidden="true" name="age[]" value=<%= "#{term}" %>>
          </li>
        <% end %>

        <% for term in @nation_search_terms %>
          <li> 
            <%= term.to_s %>
            <input hidden="true" name="nation[]" value=<%= "#{term}" %>>
          </li>
        <% end %>

        <% for term in @outcome_search_terms %>
          <li> 
            <%= term.to_s %>
            <input hidden="true" name="outcome[]" value=<%= "#{term}" %>>
          </li>
        <% end %>

        <% for term in @reason_search_terms %>
          <li> 
            <%= term.to_s %>
            <input hidden="true" name="reason[]" value=<%= "#{term}" %>>
          </li>
        <% end %>

      </ul>

      <br>

      <%= submit_tag("Search") %>
      <%= link_to 'Reset', documents_path()%>
    <% end %>
  </div>

  <div class='stats-div'>
    <%= "Percentage: #{number_with_precision((((@rows.length * 1.0) / (@document.rows.length * 1.0)) * 100), precision: 2)}" %>
    <br>
    <%= "Sum: #{@rows.length}" %>
  </div>

</div>
 
<div class='scroll-pane'>
  <h2>
    Results
  </h2>

  <table id='results-table'>
  	<tr class='headings-row'>
  		
      <th>
        Page #
      </th>
      <th>
        Date
      </th>
      <th>
        Number of Certificate
      </th>
      <th>
        Every Name of Alien Child
      </th>
      <th>
        Age
      </th>
      <th>
        Sex
      </th>
      <th>
        Nation
      </th>
      <th>
        Any Particular Marks
      </th>
      <th>
        With Whom Residing
      </th>
      <th>
        Name and Residence of Parents
      </th>
      <th>
        Name and Residence of Persons Bringing such Child
      </th>
      <th>
        For what Purpose Brought
      </th>
      <th>
        Signature of Parties
      </th>
      <th>
        School
      </th>
      <th>
        "Removal, Departure, or Death"
      </th>
      <th>
        Extra Comments
      </th>


  	</tr>


		<% for row in @rows %>
      <tr>
        <td>
          <%= row.page %>
        </td>

        <td>
          <%= row.date.encode('UTF-8') %>
        </td>

        <td>
          <%= row.certificate %>
        </td>

        <td>
          <%= row.child_name.encode('UTF-8') %>
        </td>

        <td>
          <%= row.display_age.encode('UTF-8') %>
        </td>

        <td>
          <%= row.sex.encode('UTF-8') %>
        </td>

        <td>
          <%= row.display_nation.encode('UTF-8') %>
        </td>

        <td>
          <%= row.marks.encode('UTF-8') %>
        </td>

        <td>
          <%= row.residing_with_name.encode('UTF-8') %>
        </td>

        <td>
          <%= row.bringer_name_res.encode('UTF-8') %>
        </td>

        <td>
          <%= row.parents_name_res.encode('UTF-8') %>
        </td>

        <td>
          <%= row.purpose_brought.encode('UTF-8') %>
        </td>

        <td>
          <%= row.signatures.encode('UTF-8') %>
        </td>

        <td>
          <%= row.school.encode('UTF-8') %>
        </td>

        <td>
          <%= row.outcome.encode('UTF-8') %>
        </td>

        <td>
          <%= row.comments.encode('UTF-8') %>
        </td>

      </tr>
    <% end %>

  </table>
</div>

*Built by George + Shoshawnah Lautenschlager

<button id="test" hidden="true">Test </button>
<button id="test2" hidden="true">Test2 </button>

<script>
  $("button#test").click(function () {
    alert("test")
  });

  $("button#add-sex-term").click(function (event) {
    var term = $("select#sex").val()

    $("ul#search-term-list").append("<li>" + term + "<input hidden=true name=\"sex[]\" " + "value=" + "\"" + term + "\" " + ">" + "</li>")

    event.preventDefault()
  });

  $("button#add-age-term").click(function (event) {
    var term = $("select#age").val()

    $("ul#search-term-list").append("<li>" + term + "<input hidden=true name=\"age[]\" " + "value=" + "\"" + term + "\" " + ">" + "</li>")

    event.preventDefault()
  });

  $("button#add-nation-term").click(function (event) {
    var term = $("select#nation").val()

    $("ul#search-term-list").append("<li>" + term + "<input hidden=true name=\"nation[]\" " + "value=" + "\"" + term + "\" " + ">" + "</li>")

    event.preventDefault()
  });

  $("button#add-outcome-term").click(function (event) {
    var term = $("select#outcome").val()
    $("ul#search-term-list").append("<li>" + term + "<input hidden=true name=\"outcome[]\" " + "value=" + "\"" + term + "\" " + ">" + "</li>")

    event.preventDefault()
  });

  $("button#add-reason-term").click(function (event) {
    var term = $("select#reason").val()

    $("ul#search-term-list").append("<li>" + term + "<input hidden=true name=\"reason[]\" " + "value=" + "\"" + term + "\" " + ">" + "</li>")

    event.preventDefault()
  });
</script>

<input name="test" type="hidden" value="This is a test">