<p id="notice"><%= notice %></p>

<p>
  <b>Document:</b>
  <%= @row.document_id %>
</p>

<p>
  <b>Page:</b>
  <%= @row.page %>
</p>

<p>
  <b>Date:</b>
  <%= @row.date %>
</p>

<p>
  <b>Certificate:</b>
  <%= @row.certificate %>
</p>

<p>
  <b>Child name:</b>
  <%= @row.child_name %>
</p>

<p>
  <b>Display age:</b>
  <%= @row.display_age %>
</p>

<p>
  <b>Sex:</b>
  <%= @row.sex %>
</p>

<p>
  <b>Display nation:</b>
  <%= @row.display_nation %>
</p>

<p>
  <b>Marks:</b>
  <%= @row.marks %>
</p>

<p>
  <b>Residing with name:</b>
  <%= @row.residing_with_name %>
</p>

<p>
  <b>Parents name res:</b>
  <%= @row.parents_name_res %>
</p>

<p>
  <b>Bringer name res:</b>
  <%= @row.bringer_name_res %>
</p>

<p>
  <b>Purpose brought:</b>
  <%= @row.purpose_brought %>
</p>

<p>
  <b>Signatures:</b>
  <%= @row.signatures %>
</p>

<p>
  <b>School:</b>
  <%= @row.school %>
</p>

<p>
  <b>Outcome:</b>
  <%= @row.outcome %>
</p>

<p>
  <b>Comments:</b>
  <%= @row.comments %>
</p>

<p>
  <b>Search age:</b>
  <%= @row.search_age %>
</p>

<p>
  <b>Search nation:</b>
  <%= @row.search_nation %>
</p>


<%= link_to 'Edit', edit_row_path(@row) %> |
<%= link_to 'Back', rows_path %>
